<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank you</title>
</head>
<body>
    <h1>Thanks for completing {{ survey.title }}</h1>
    <p>We recorded the following responses for you:</p>
    <ul>
      {% for question in survey.questions %}
      <li>
        <b>{{ question.question }} </b>
        {{ responses[loop.index0]["choice"] }}
        <i>{{ responses[loop.index0]["text"] }}</i>
      </li>
      {% endfor %}
    </ul>
</body>
</html>